@model BookShop.Areas.Admin.ViewModels.AuthorListBoxViewModel

<div class="form-group">
    @Html.LabelFor(model => model.authorName, htmlAttributes: new { @class = "control-label" })
    <div class="col-md-10">
        @Html.ListBoxFor(model => model.selectedauthor, Model.authors, htmlAttributes: new { @class = "form-control selectpicker", data_live_search = "true" })
    </div>
</div>
